#root {
  margin: 0 auto;
  padding: 2rem;
  background-color: black;
}

.no-scrollbar::-webkit-scrollbar {
  /* hide scrollbar for WebKit browsers (Chrome, Safari) */
  width: 0; /* removes the scrollbar's width */
  height: 0; /* removes the scrollbar's height for horizontal scrolling */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Usage: add the `no-scrollbar` class to any scrollable element
   (e.g. <div className="overflow-y-scroll no-scrollbar">) */